@*<div id="myCarousel" class="carousel slide rounded-3 border shadow-lg" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item bg-dark-blue active">
            <i class="mt-5 fa-brands fa-bitcoin fa-10x ms-5 ps-lg-5"></i>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Cryptocurrencies</h1>
                    <p>Monitora le più attive criptovalute con facilità</p>
                </div>
            </div>
        </div>
        <div class="carousel-item bg-dark-blue">
            <i class="mt-5 fa-solid fa-arrow-trend-up fa-10x d-flex align-items-center flex-column"></i>
            <div class="container">
                <div class="carousel-caption">
                    <h1>ProgettoTesi</h1>
                    <p>Monitora facilmente gli investimenti o valutane di futuri, confronta rapidamente le alternative</p>
                </div>
            </div>
        </div>
        <div class="carousel-item bg-dark-blue">
            <i class="mt-5 fa-solid fa-circle-dollar-to-slot fa-10x d-flex align-items-end flex-column bd-highlight me-5 pe-lg-5"></i>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Stock Market</h1>
                    <p>Visualizza le informazioni sulle compagnie quotate di tutto il mondo</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4 rounded-3 border shadow-lg">
            <i class="mt-5 fa-solid fa-circle-dollar-to-slot fa-10x text-primary"></i>
            <h2 class="fw-bold text-primary">Stock Exchange</h2>
            <p class="lead">Le azioni rappresentano quote di proprietà che danno, a chi le detiene, diritto a una parte delle attività e degli utili della società. Lo stock exchange è il luogo in cui queste azioni vengono negoziate. Il mercato azionario opera in base a un sistema di domanda e offerta.</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 rounded-3 border shadow-lg">
            <i class="mt-5 fa-brands fa-bitcoin fa-10x text-orange"></i>
            <h2 class="fw-bold text-orange">Criptovalute</h2>
            <p class="lead">Una criptovaluta è una moneta digitale, completamente decentralizzata e sicura, la cui creazione è controllata attraverso la crittografia. A differenza del sistema monetario tradizionale, i prezzi delle criptovalute sono definiti dalla domanda e dall'offerta come per i mercati azionari.</p>
        </div>
    </div>
</div>