<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-success mb-3">Progetto Tesi</h1>
            <p class="lead">Il progetto nasce con l’obiettivo di dare una risposta alle moderne esigenze di ricevere dei feedback e delle risposte ai propri requisiti finanziari, per poter monitorare facilmente i propri investimenti o per valutarne di futuri, permette di confrontare rapidamente delle alternative tenendo conto delle attitudini di un’utenza sempre più dinamica. Le soluzioni attualmente disponibili non rispondono a queste esigenze e non soddisfano i requisiti attuali, come l’immediata estrapolazione dei dati dal software: in particolare, il software consente agevolmente di scaricare le informazioni in un formato csv, per poter essere elaborato come Dataset da algoritmi di Machine Learning.</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center">
            <i class="fa-solid fa-arrow-trend-up fa-10x text-success"></i>
        </div>
    </div>
</div>